@import url("./style.css");
.career {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.career ul li {
    font-weight: bolder;
    margin-right: 1rem;
}

.career ul {
    list-style-type: none;
    padding: 0;
}

.career p {
    height: 20rem;
    width: 50%;
    border-radius: 5%;
    margin-left: 1rem;
}

.career-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.career-header img {
    width: 5%;
    height: auto;
    margin-right: 1rem;
}

.career-header h4 {
    margin: 0;
    margin-right: 1rem;
}